<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Meditation quotes API</a>
    <ul class="nav">
      <li class="nav-item"><a href="/doc">doc</a></li>
      <!-- <li class="nav-item"><a href="/login">Login</a></li> -->
      <!-- add condition if login: -->
      <!-- <li><a href="/quotes/add">Add</a></li> -->
    </ul>
  </nav>
</header>
