<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Meditation quotes API</a>
    <ul>
      <li><a href="/authors">Quotes</a></li>
      <li><a href="/books/new">Add</a></li>
    </ul>
  </nav>
</header>
