<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Inspirational quotes API</a>
    <ul class="nav">
      <li class="nav-item"><a href="/doc">API</a></li>
      <!-- <li class="nav-item"><a href="/login">Login</a></li> -->
      <!-- add condition if login: -->
      <li class="nav-item"><a href="/add">Add</a></li>
    </ul>
  </nav>
</header>
