<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Inspirational quotes API</a>
    <ul class="nav">
      <li class="nav-item"><a href="/">quotes</a></li>
      <li class="nav-item"><a href="/doc">doc</a></li>
      <!-- <li class="nav-item"><a href="/login">login</a></li> -->
      <!-- add condition if login: -->
      <li class="nav-item"><a href="/add">add</a></li>
    </ul>
  </nav>
</header>
