<h2 class="page-header">New quote</h2>
<form action="/quotes" method="POST">
  <label for="login">Quote:</label>
  <textarea name="input-quote-quote" id="input-quote-quote"> </textarea>
  <label for="password">Author:</label>
  <input type="text" name="input-quote-author" id="input-quote-author" />
  <button type="submit">Add</button>
</form>
