<div class="doc-container">
  <section class="doc-section">
    <h3 class="doc-instruction">Get all quotes:</h3>
    <p class="doc-url">GET http://meditationquotesapi.com/api/quotes</p>
  </section>

  <section class="doc-section">
    <h3 class="doc-instruction">TODO: Get a random quote:</h3>
    <p class="doc-url">GET http://meditationquotesapi.com/api/quotes/random</p>
  </section>
</div>
