<% quotes.forEach(quote => { %>
<div class="quote-container">
  <p class="quote-quote">"<%= quote.quote %>"</p>
  <p class="quote-author"><%= quote.author %></p>
  <div class="container-btn-quote">
    <button class="btn-quote btn-copy" action="copy()" name="edit">copy</button>
    <!-- <form method="POST" action="/quotes/<%= quote.id %>/?_method=PUT">
      <button class="btn-quote btn-edit" name="edit">edit</button>
    </form> -->
    <form method="POST" action="/quotes/<%= quote.id %>/?_method=DELETE">
      <button class="btn-quote btn-delete" name="edit">delete</button>
    </form>
  </div>
</div>
<% }) %>
