<form>
  <label for="login">login</label>
  <input type="text" name="input-login" id="input-login" />
  <label for="password">password</label>
  <input type="text" name="input-password" id="input-password" />
  <button type="submit">Connect</button>
</form>
